body {
	background-color: #222;
	font-family: Arial, "Helvetica Neue"
}

/* 1st screen */

#select_folder {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	text-align: center;
	margin: 0 auto;
	position: relative;
	width: 16em;
	top: 40%;
	padding: 1em;
	background: #FF582E;
	border-radius: 2em;
	border: solid 1px #FF582E;
	color: white;
}

#select_folder:hover {
	box-shadow: 0px 0px 20px #FF582E;
	cursor: pointer;
}

#folderSelector {
	display: none;
}