body {
	background-color: #222;
	font-family: Arial, "Helvetica Neue";
	margin: 0;
	padding: 0;	
}

/* 1st screen */

#select_folder {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	text-align: center;
	margin: 0 auto;
	position: relative;
	width: 16em;
	top: 40%;
	padding: 1em;
	background: #FF582E;
	border-radius: 2em;
	border: solid 1px #FF582E;
	color: white;
}

#select_folder:hover {
	box-shadow: 0px 0px 20px #FF582E;
	cursor: pointer;
}

#folderSelector {
	display: none;
}

#photos {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.photo {
	text-align: center;
	float: left;
	margin: 2%;
	padding: 1% 0.5%;
	background-color: white;
	width: 20%;
	height: 18%;
	margin-bottom: 1%;
}

.photo img {
	max-width: 100%;
	max-height: 100%;
}